*{
    margin: 0;
    padding: 0;
}

/*body*/
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: #ddd;
    width: 650px;
    height: 600px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(3 20 45) 2px 2px 10px;
    border: 2px solid #052F5F;
}


button{
    width: 80px;
    height: 80px;
    margin-bottom:20px;
    box-shadow: rgb(3 20 45) 1px 1px 8px;
}

.divisor{
   width: 550px;
   height: 1px;
   margin: 0 auto;
   margin-top: 25px;
   margin-bottom: 25px;
   background-color: #052F5F;
}

.display{
    margin-left: 41px;
}

.tela{
    background-color: #fff;
    width: 540px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #052F5F;
    box-shadow: rgb(3 20 45) 1px 1px 8px;
    font-size: 30px;
    text-align: right;
    padding: 40px;
}

/*teclado*/
.teclado{
    margin-top: 45px;
}

#eq{
    background-color: yellow;
    border: 1px solid #052F5F;
    font-size: 35px;
    width: 190px;
}

#soma{
    background-color: rgb(21, 255, 0);
    border: 1px solid #052F5F;
    font-size: 35px;
}

.sub{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;
}

.divi{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;
}

.mult{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;
}

.delete{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #4A8CFA;
}

.c{
    border: 1px solid #052F5F;
    background-color: #FA4A4A;
    font-size: 35px;  
}

.ponto{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;  
}


 #zero{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;
    width: 250px;
}

.num{
    border: 1px solid #052F5F;
    font-size: 35px;
    background-color: #fff;
}

